<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/les_paccots_rand_eau_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			LES PACCOTS : RAND'EAU (also with snowshoes)
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>LES PACCOTS : RAND'EAU (also with snowshoes)</h2>
					<br>
					<span class="activite-sous-titre">A didactic path on the theme of water in a dream setting</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Parking "Lac des Joncs"
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Parking "Lac des Joncs"
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Duration: 1.15 hours
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Learning path</li>
							<li>9 questions on the way</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Alpine hut Auberge du Lac des Joncs, Les Paccots
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Les_paccots_randeau.pdf') }}" target="_blank">> Hiking map and information</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch/en" target="_blank">> Public transport timetables</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/les_paccots_rand_eau.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>