<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/sentier_vitrail_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			STAINED GLASS TRAIL
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>STAINED GLASS TRAIL</h2>
					<br>
					<span class="activite-sous-titre">A walk through fields and vales to discover a beautiful display of colors and lights</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Tourist office, Romont
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Mézières
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Duration: 3.15 hours
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Vitromusée, Swiss Museum of Stained Glass and Glass Art, Romont</li>
							<li>Collegiale church and monastery church "Fille-Dieu", Romont</li>
							<li>Remparts, Romont</li>
							<li>Wallpaper Museum, Mézières</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						 The biggest painting under glas in the world, Church of Mézières
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Stained_glass_trail.pdf') }}" target="_blank">> Hiking map and information</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch/en" target="_blank">> Public transport timetables </a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/sentier_vitrail.jpg') }}" alt="Sentier du Vitrail"/></p>
				</div>
			</div>
		</div>
	</div>
</div>