<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('imgs/randonnees/vignettes/sentier_fromageries_mongerons_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			CHEESE-DAIRY PATH THROUGH LES MONGERONS (also with snowshoes)
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>CHEESE-DAIRY PATH THROUGH LES MONGERONS (also with snowshoes)</h2>
					<br>
					<span class="activite-sous-titre">From a cheese-dairy to another, an invigorating walk to discover life in the alpine pasture</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						La Maison du Gruyère, Pringy
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Moléson-sur-Gruyères
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Duration: 2.00 hours
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>La Maison du Gruyère, demonstration cheese dairy, Pringy</li>
							<li>Summit of Mount Moléson</li>
							<li>Fun Park, Moléson-Village</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Alpine hut Mongerons  
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('imgs/randonnees/pdf/Cheese_dairy_path_through_mongerons.pdf') }}" target="_blank">> Hiking map and information</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch/en" target="_blank">> Public transport timetables</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/sentier_fromageries_mongerons.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>