<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/jaun_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			TOUR OF THE GASTLOSEN
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>TOUR OF THE GASTLOSEN</h2>
					<br>
					<span class="activite-sous-titre">A picturesque walk around the foot of an imposing rock formation. The view of the Alps is breathtaking.</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Gastlosen Express chairlift
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Gastlosen Express chairlift
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						5.00 hours
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Gastlosen chairlift</li>
							<li>Panorama of the Alps</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						<a href="http://www.brghs.ch/index.php?lang=en" target="_blank">Bärghus Restaurant</a>
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/tour_gastlosen_EN.pdf') }}" target="_blank">> Hiking map and information</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch/en" target="_blank">> Public transport timetables</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/jaun.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>
