<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/prehistoire_rives_sauvages_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			MURTEN > PREHISTORY AND WILD SHORES
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>MURTEN > PREHISTORY AND WILD SHORES</h2>
					<br>
					<span class="activite-sous-titre">Example for a family (2 adults with 2 children from 6 to 16 years) leaving from Murten</span>
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						09:03 a.m.	Train to Domdidier (arrival at 09:13 a.m.) 
						09:16 a.m.	Bus to Gletterens Lac (arrival at 09:36 a.m.)
					</p>
					<p>
					Here you are, at the doors of the Prehistory, in the lakeside village of Gletterens. Discover the way of life of the first farmers living in the plateau by walking in the park. Then, leave for a 2.30 hours walk through the villages in the Broye, the forest and the lakeside, in direction of Estavayer-le-Lac. Arrived in the City of Roses, board on the “P’tit Train” and cross the lanes of this medieval town during one hour!				</p>
					<p>
						<span class="colorED891E">{{ 'point-arrivée'|trans }}</span><br>
						05:21 p.m.	Train to Payerne (arrival at 05:30 p.m.)
						05:34 p.m.	Train to Murten (arrival at 05:56 p.m.)
					</p>
					<br>
					<p><strong>Price for a family (2 adults and 2 children from 6 to 16 years) leaving from Murten</strong></p>
					<span class="colorED891E">{{ 'point-interet'|trans }}</span>
					<ul class="ptn-interet">
						<li>Without FriPass: CHF 114.40</li>
						<li>With FriPass: CHF 90.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="https://www.google.fr" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link colorED891E" href="http://www.tpf.ch/en" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/prehistoire_rives_sauvages.jpg') }}" alt="Itinéraire Préhistoire et rives sauvages"/></p>
				</div>
			</div>
		</div>
	</div>
</div>