<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('imgs/randonnees/vignettes/air_pur_plaisirs_gourmands_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			BULLE > AIR PUR ET PLAISIR GOURMAND
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>BULLE > AIR PUR ET PLAISIR GOURMAND</h2>
					<br>
					<span class="activite-sous-titre">Exemple pour une famille (2 adultes avec abonnement demi-tarif et 2 enfants de 6 à 16 ans) au départ de Bulle</span>
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						09h33, Train en direction de Châtel-St-Denis (arrivée à 09h56)
						10h03, Bus en direction des Paccots (arrivée à 10h13)
					</p>
					<p>
						Arrivés aux Paccots, rendez-vous chez Sport’Yves pour louer une paire de raquettes et des bâtons pour tous. Le sentier didactique Rand’Eau vous promène pendant 1h15 dans un décor de rêve tout en répondant à des questions sur le thème de l’eau. Après l’effort, le réconfort ! L’Auberge du Lac des Joncs vous régalera de ses spécialités fribourgeoises. Dans l’après-midi, la patinoire couverte vous promet de beaux moments de rigolade. Les plus grands pourront craquer pour un massage à l’Espace Santé et Bien-être des Paccots (30% de rabais sur tous les soins avec le FriPass).
					</p>
					<p>
						<span class="colorED891E">{{ 'point-arrivée'|trans }}</span><br>
						17h40, Bus en direction de Châtel-St-Denis (arrivée à 17h53)
						18h00, Train en direction de Bulle (arrivée à 18h27)
					</p>
					<br>
					<p><strong>Prix pour une famille (2 adultes avec abonnement demi-tarif et 2 enfants de 6 à 16 ans) au départ de Bulle</strong></p>
					<span class="colorED891E">{{ 'point-interet'|trans }}</span>
					<ul class="ptn-interet">
						<li>Sans FriPass : CHF 145.60</li>
						<li>Avec FriPass : CHF 90.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="https://www.google.fr" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link colorED891E" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/air_pur_plaisirs_gourmands.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>