<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/culture_papier_peint_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			CHÂTEL-ST-DENIS > CULTURE ET PAPIER PEINT
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>CHÂTEL-ST-DENIS > CULTURE ET PAPIER PEINT</h2>
					<br>
					<span class="activite-sous-titre">Exemple pour  un adulte au départ de Châtel-St-Denis</span>
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						08h29, Train en direction de Palézieux (arrivée à 08h40)
						08h50, Train en direction de Romont (arrivée à 09h05)
					</p>
					<p>
						Sortez du train et montez doucement la pente de la colline de Romont. Découvrez les ruelles pavées de cette petite ville. Arrivés au Château, pénétrez dans un monde de verre et de couleurs, le Vitromusée. Après la visite, départ pour le Sentier du Vitrail (env. 2h40) qui vous mènera à Mézières (FR) où vous pourrez faire un saut au Musée du papier peint pour admirer une  collection de pièces rarissimes.
					</p>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						14h34, Bus de Mézières (FR) en direction de Bulle (arrivée à 15h05) 
					</p>
					<p>
					Un dernier tour dans la ville de Bulle et la découverte du Musée gruérien finiront d’assouvir votre soif de culture. Et n’oubliez pas de goûter à l’une des nombreuses spécialités culinaires de la région ! 
					</p>
					<p>
						<span class="colorED891E">{{ 'point-arrivée'|trans }}</span><br>
						18h33, Train en direction de Châtel-St-Denis (arrivée à 18h56)
					</p>
					<br>
					<p><strong>Prix pour un adulte au départ de Châtel-St-Denis</strong></p>
					<span class="colorED891E">{{ 'point-interet'|trans }}</span>
					<ul class="ptn-interet">
						<li>Sans FriPass : CHF 58.60</li>
						<li>Avec FriPass : CHF 40.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="https://www.google.fr" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link colorED891E" href="http://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/culture_papier_peint.jpg') }}" alt="Itinéraire culture et papier peint"/></p>
				</div>
			</div>
		</div>
	</div>
</div>