<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/magie_gruerienne_chocolat_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			ROMONT > MAGIE GRUERIENNE ET ENVIE DE CHOCOLAT
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>ROMONT > MAGIE GRUERIENNE ET ENVIE DE CHOCOLAT</h2>
					<br>
					<span class="activite-sous-titre">Exemple pour un adulte au départ de Romont</span>
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						09h49, Train en direction de Bulle (arrivée à 10h08)
						10h12, Train en direction de Broc-Fabrique (arrivée à 10h24)
					</p>
					<br>
					A quelques pas de la gare, tout un monde chocolaté vous attend à la fameuse Maison Cailler. Une fois la visite terminée, remplissez votre sac de provisions et démarrez votre randonnée (durée : 2h-2h30) ou sautez dans le train direction le bourg médiéval de Gruyères.
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						12h36, Train en direction de Gruyères-Pringy (arrivée à 12h59)
					</p>
					<p>
					Arrivé à destination, découvrez le château de Gruyères qui domine la cité. Après sa visite, ne manquez pas de déguster une petite meringue accompagnée de crème double, de la Gruyère bien sûr!
					</p>
					<p>
						<span class="colorED891E">{{ 'point-arrivée'|trans }}</span><br>
						16h58, Train en direction de Bulle (arrivée à 17h08)
						17h20, Train en direction de Romont (arrivée à 17h37)
					</p>
					<br>
					<p><strong>Pour un adulte au départ de Romont</strong></p>
					<span class="colorED891E">{{ 'point-interet'|trans }}</span>
					<ul class="ptn-interet">
						<li>Sans FriPass : CHF 55.60</li>
						<li>Avec FriPass : CHF 40.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="https://www.google.fr" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link colorED891E" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/magie_gruerienne_chocolat.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>