<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/stand_up_paddle_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			PAYERNE > STAND UP PADDLE ET VUE PANORAMIQUE
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>PAYERNE > STAND UP PADDLE ET VUE PANORAMIQUE</h2>
					<br>
					<span class="activite-sous-titre">Exemple pour un adulte avec un abonnement demi-tarif au départ de Payerne</span>
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						09h31, Train en direction de Fribourg (arrivée à 09h57)
						10h01, Bus en direction de Zollhaus (arrivée à 10h41)
					</p>
					<p>
					A la descente du bus à Zollhaus, vous voilà en route pour une superbe traversée de 2 heures d’une contrée encore préservée. Arrivé à Schwarzsee, grimpez à bord du télésiège Riggisalp pour découvrir la vue depuis le sommet et goûter aux délicieuses grillades du restaurant Bärghuus. Redescendez au village en télésiège et profitez des plaisirs aquatiques ! Louez un stand up paddle pour une heure de détente, au rythme de l’eau.
					</p>
					<p>
						<span class="colorED891E">{{ 'point-arrivée'|trans }}</span><br>
						18h03, Bus en direction de Fribourg (arrivée à 18h56)
						19h04, Train en direction de Payerne (arrivée à 19h29)
					</p>
					<br>
					<p><strong>Prix pour un adulte avec un abonnement demi-tarif au départ de Payerne</strong></p>
					<span class="colorED891E">{{ 'point-interet'|trans }}</span>
					<ul class="ptn-interet">
						<li>Sans FriPass : CHF 51.80</li>
						<li>Avec FriPass : CHF 30.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="https://www.google.fr" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link colorED891E" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/stand_up_paddle.jpg') }}" alt="Stand Up Paddle sur le lac"/></p>
				</div>
			</div>
		</div>
	</div>
</div>