<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/avenches_faoug_morat_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			AVENCHES > FAOUG > MURTEN
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>AVENCHES > FAOUG > MURTEN</h2>
					<br>
					<span class="activite-sous-titre">Eine Wanderung auf den Spuren der Römern, von der früheren Hauptstadt des römischen Helvetiens bis ans Ufer des Murtensees</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Avenches
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Bahnhof Murten
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						2.40 Stunden
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Römermuseum und Römerstadt, Avenches</li>
							<li>Strand Avenches</li>
							<li>Obelisk, Meyriez</li>
							<li>Schwimmbad, Murten</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Nidelkuchen im <a href="http://www.monniermurten.ch/fr/" target="_blank">Tea-Room Monnier</a>, Murten
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Avenches_murten_DE.pdf') }}" target="_blank">> Wanderkarte und Profil</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch/de" target="_blank">> Fahrplan der öffentlichen Verkehrsmittel</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/avenches_faoug_morat.jpg') }}" alt="Avenches Faoug Morat"/></p>
				</div>
			</div>
		</div>
	</div>
</div>