<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/firbourg_ste_appoline_hauterive_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			FRIBOURG > STE-APPOLINE > HAUTERIVE
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>FRIBOURG > STE-APPOLINE > HAUTERIVE</h2>
					<br>
					<span class="activite-sous-titre">Lassen Sie sich von den magischen Saaneufern und dem Kloster Hauterrive in den Bann ziehen</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Bahnhof Fribourg
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Hauterive
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						3.15 Stunden
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Brücke Ste-Appoline, Villars-sur-Glâne</li>
							<li>Kloster Hauterive</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Restaurant La Croix-Blanche in Posieux
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Fribourg_hauterive_DE.pdf') }}" target="_blank">> Wanderkarte und Profil</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch/de" target="_blank">> Fahrplan der öffentlichen Verkehrsmittel</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/fribourg_ste_appoline_hauterive.jpg') }}" alt="Fribourg Ste-Appoline Hauterive"/></p>
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/510x295-bb.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>