<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/gletterens_estavayer_le_lac_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			GLETTERENS > ESTAVAYER-LE-LAC
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>GLETTERENS > ESTAVAYER-LE-LAC</h2>
					<br>
					<span class="activite-sous-titre">Entdecken Sie die naturbelassenen Ufer des Neuenburgersees mit Möwengesang in den Ohren</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Gletterens
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Bahnhof d'Estavayer-le-Lac
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Dauer: 2.30 Stunden
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Pfahlbaudorf, Gletterens</li>
							<li>Alphasurf und Strand, Estavayer-le-Lac</li>
							<li>La Grande Cariçaie</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Afternoon Tea im Château de la Corbière
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Gletterens_estavayer_le_lac_DE.pdf') }}" target="_blank">> Wanderkarte und Profil</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch/de" target="_blank">> Fahrplan der öffentlichen Verkehrsmittel</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/gletterens_estavayer_le_lac.jpg') }}" alt="Gletterens Estavayer-le-Lac"/></p>
				</div>
			</div>
		</div>
	</div>
</div>