<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('imgs/randonnees/vignettes/moleson_les_paccots_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			MOLESON > LES PACCOTS (auch mit Schneeschuhen)
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>MOLESON > LES PACCOTS (auch mit Schneeschuhen)</h2>
					<br>
					<span class="activite-sous-titre">Ein grandioses Panorama erwartet Sie</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Moléson-sur-Gruyères
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Les Paccots
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Dauer: 3.40 Stunden
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Standseilbahn Moléson - Plan Francey</li>
							<li>Atemberaubendes Panorama</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Alphütten Gros Plané und Chalet Incrota
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('imgs/randonnees/pdf/Moleson_les_paccots_DE.pdf') }}" target="_blank">> Wanderkarte und Profil</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch/de" target="_blank">> Fahrplan der öffentlichen Verkehrsmittel</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/moleson_les_paccots.jpg') }}" alt="Moléson - Les Paccots"/></p>
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/510x295-bb.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>