<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/praz_morat_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			PRAZ > MURTEN
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>PRAZ > MURTEN</h2>
					<br>
					<span class="activite-sous-titre">Beobachten Sie Vögel in ihrem natürlichen Lebensraum und geniessen Sie schattenspendende Bäume</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Praz
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Murten
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						2.20 Stunden
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Vully-Kuchen</li>
							<li>Reblehrpfad und Weine im Vully</li>
							<li>Museum Murten</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Beach House, Hotel Bad Muntelier am See
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Praz_murten_DE.pdf') }}" target="_blank">> Wanderkarte und Profil</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch/de" target="_blank">> Fahrplan der öffentlichen Verkehrsmittel</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/praz_morat.jpg') }}" alt="Praz Morat"/></p>
				</div>
			</div>
		</div>
	</div>
</div>