<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('imgs/randonnees/vignettes/sentier_vitrail_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			GLASMALEREIPFAD
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>GLASMALEREIPFAD</h2>
					<br>
					<span class="activite-sous-titre">Farben- und Lichtpracht in sanfter grüner Landschaft</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Tourismusbüro, Romont
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Mézières
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Dauer: 3.15 Stunden
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Vitromusée, Schweizerisches Museum für Glasmalerei und Glaskunst, Romont</li>
							<li>Stiftskirche Notre Dame de l'Assomption und Klosterkirche Fille-Dieu, Romont</li>
							<li>Stadtmauern, Romont</li>
							<li>Tapetenmuseum, Mézières</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Das grösste Hinterglasmalerei-Werk der Welt, Kirche Mézières
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('imgs/randonnees/pdf/Glasmalereipfad.pdf') }}" target="_blank">> Wanderkarte und Profil</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch/de" target="_blank">> Fahrplan der öffentlichen Verkehrsmittel</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/sentier_vitrail.jpg') }}" alt="Sentier du Vitrail"/></p>
				</div>
			</div>
		</div>
	</div>
</div>