
<div class="row">
	<div class="col-md-offset-2 col-md-8 text-center merci-partenaires">
		<p>UN GRAND MERCI À TOUS NOS PARTENAIRES !</p>
	</div>
</div>
<div class="row">
	<div id="logoPartenaires" class="text-center">
		<img src="{{ asset('imgs/logos-partenaires/logo-region-fribourg.png') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-tpf.png') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-npr.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-estravayer.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-murtensee.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-avenches.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-romont.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-chatel.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-schwarzsee.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-fribourg-tourisme.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-lagruyere.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-radio.jpg') }}" alt=""/>
		<img src="{{ asset('imgs/logos-partenaires/logo-tcs.jpg') }}" alt=""/>
	</div>
</div>