<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/avenches_faoug_morat_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			AVENCHES > FAOUG > MORAT
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>AVENCHES > FAOUG > MORAT</h2>
					<br>
					<span class="activite-sous-titre">Une balade sur les pas des Romains, de l’ancienne capitale de l’Helvétie romaine jusqu’au bord du lac de Morat</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Avenches
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Gare de Morat
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						2h40
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Musée romain et ruines, Avenches</li>
							<li>Plage, Avenches</li>
							<li>Obélisque, Meyriez</li>
							<li>Piscine, Morat</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Nidelkuchen au Repas à <a href="http://www.monniermurten.ch/fr/" target="_blank">> Tea-Room Monnier</a>, Morat
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Avenches_morat.pdf') }}" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/avenches_faoug_morat.jpg') }}" alt="Avenches Faoug Morat"/></p>
				</div>
			</div>
		</div>
	</div>
</div>