<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/maison_cailler_morlon_bulle_sentier_lac_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			MAISON CAILLER, BROC > MORLON - BULLE PAR LE SENTIER DU LAC
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>MAISON CAILLER, BROC > MORLON - BULLE PAR LE SENTIER DU LAC</h2>
					<br>
					<span class="activite-sous-titre">Une balade rythmée par le clapotis de l’eau et le chant des oiseaux</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Maison Cailler, Broc
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Bulle
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Durée : 2h10
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Maison Cailler, la chocolaterie suisse, Broc</li>
							<li>Musée gruérien, Bulle</li>
							<li>Forêt de Bouleyres, Bulle (place de jeux, stade, skate parc)</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Buvette les Laviaux, Morlon
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Maison_cailler_morlon_bulle_sentier_lac.pdf') }}" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/maison_cailler_morlon_bulle_sentier_lac.jpg') }}" alt="Broc Morlon Bulle"/></p>
				</div>
			</div>
		</div>
	</div>
</div>