<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('imgs/randonnees/vignettes/305x185-bb.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			FRIBOURG > STE-APPOLINE > HAUTERIVE
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>FRIBOURG > STE-APPOLINE > HAUTERIVE</h2>
					<br>
					<span class="activite-sous-titre">Laissez-vous envoûter par la magie des rives de la Sarine et de l’Abbaye d’Hauterive</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Gare de Fribourg
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Hauterive
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Durée : 3h15
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Pont de Ste-Appoline, Villars-sur-Glâne</li>
							<li>Abbaye d’Hauterive</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Restaurant La Croix-Blanche, Posieux
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="https://www.google.fr" target="_blank">> Profil de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.google.fr" target="_blank">> Carte de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/510x295-bb.jpg') }}" alt=""/></p>
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/510x295-bb.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>