<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/moleson_les_paccots_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			MOLESON > LES PACCOTS (aussi en raquettes)
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>MOLESON > LES PACCOTS</h2><br>(aussi en raquettes)
					<br>
					<span class="activite-sous-titre">Un panorama grandiose s’ouvre devant vos yeux</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Moléson-sur-Gruyères
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Les Paccots
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						3h40
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Funiculaire de Moléson à Plan Francey</li>
							<li>Panorama à couper le souffle</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Buvette du Gros Plané et Chalet Incrota
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Moleson_les_paccots_FR.pdf') }}" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/moleson_les_paccots.jpg') }}" alt="Moléson - Les Paccots"/></p>
				</div>
			</div>
		</div>
	</div>
</div>