<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/praz_morat_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			PRAZ > MORAT
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>PRAZ > MORAT</h2>
					<br>
					<span class="activite-sous-titre">Découvrez les oiseaux dans leur habitat naturel et flânez à l’ombre des arbres</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Praz
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Morat
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Durée : 2h20
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Gâteau du Vully</li>
							<li>Sentier viticole et vins du Vully</li>
							<li>Musée de Morat</li>
							<li>Bateau de Morat à Praz (compris dans le FriPass)</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Beach House, Hotel Bad Muntelier am See
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Praz_morat.pdf') }}" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/praz_morat.jpg') }}" alt="Praz Morat"/></p>
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/510x295-bb.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>