<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/schwarzsee_jaun_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			SCHWARZSEE > JAUN (aussi en raquettes)
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>SCHWARZSEE > JAUN (aussi en raquettes)</h2>
					<br>
					<span class="activite-sous-titre">Cheminez à travers cette longue vallée et découvrez un paysage préalpin d’une grande beauté</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Gypsera, Schwarzsee
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Jaun
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Durée : 2h50
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Trottinette géante et luge d’été, Schwarzsee</li>
							<li>Télésiège Riggisalp, Schwarzsee (diminue le temps de marche de 45 minutes)</li>
							<li>Cantorama et cascade, Jaun</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Restaurant Stärn à Schwarzsee
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Schwarzsee_jaun_FR.pdf') }}" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/schwarzsee_jaun.jpg') }}" alt="Schwarzsee Jaun"/></p>
				</div>
			</div>
		</div>
	</div>
</div>