<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/sentier_fromageries_mongerons_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			SENTIER DES FROMAGERIES PAR LES MONGERONS (aussi en raquettes)
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>SENTIER DES FROMAGERIES PAR LES MONGERONS</h2><br>(aussi en raquettes)
					<br>
					<br>
					<span class="activite-sous-titre">D’une fromagerie à l’autre, une balade vivifiante pour découvrir la vie à l’alpage </span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						La Maison du Gruyère, Pringy
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Moléson-sur-Gruyères
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						2h00
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>La Maison du Gruyère, fromagerie de démonstration, Pringy</li>
							<li>Sommet du Moléson</li>
							<li>Parc de loisirs, Moléson-Village</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Cabane des <a href="http://www.mongerons.ch/index.php?corps=restauration" target="_blank">> Mongerons</a>, Pringy
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Sentier_fromageries_mongerons.pdf') }}" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/sentier_fromageries_mongerons.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>