<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/zollhaus_schwarzsee_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			ZOLLHAUS > SCHWARZSEE (aussi en raquettes)
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>ZOLLHAUS > SCHWARZSEE (aussi en raquettes)</h2>
					<br>
					<span class="activite-sous-titre">Découvrez une contrée préservée et des vues à couper le souffle</span>
					<br>
					<p>
						<span class="color82BC3F">{{ 'points-depart'|trans }}</span><br>
						Zollhaus
					</p>
					<p>
						<span class="color82BC3F">{{ 'point-arrivée'|trans }}</span><br>
						Schwarzsee
					</p>
					<p>
						<span class="color82BC3F">{{ 'duree'|trans }}</span><br>
						Durée : 1h40
					</p>
					<br>
					<p>
						<span class="color82BC3F">{{ 'point-interet'|trans }}</span>
						<ul class="ptn-interet">
							<li>Trottinette géante et luge d’été, Schwarzsee</li>
							<li>Pédalo et plage, Schwarzsee</li>
							<li>Marais naturel</li>
						</ul>
					</p>
					<br>
					<p class="truc-astuces">
						<span>{{ 'trucs-astuces'|trans }}</span>
						Restaurant Stärn à Schwarzsee
					</p>
					<br>
					<p><a class="rando-iti-link color82BC3F" href="{{ asset('bundles/content/treks/pdf/Zollhaus_schwarzsee_FR.pdf') }}" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link color82BC3F" href="http://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/zollhaus_schwarzsee.jpg') }}" alt="Zollhaus Schwarzsee"/></p>
				</div>
			</div>
		</div>
	</div>
</div>