
<div class="row">
	<div class="col-md-offset-2 col-md-8 text-center merci-partenaires">
		<p>Thank you to our partners !</p>
	</div>
</div>
<div class="row">
	<div id="logoPartenaires" class="text-center">
		<img src="{{ asset('bundles/content/partners/logo-region-fribourg.png') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-tpf.png') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-npr.png') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-estravayer.jpg') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-murtensee.png') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-avenches.png') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-romont.jpg') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-chatel.jpg') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-schwarzsee.png') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-fribourg-tourisme.jpg') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-lagruyere.jpg') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-radio.jpg') }}" alt=""/>
		<img src="{{ asset('bundles/content/partners/logo-tcs.png') }}" alt=""/>
	</div>
</div>