
<div class="row">
	<div class="col-md-offset-2 col-md-8 text-center merci-partenaires">
		<p>Thank you to our partners!</p>
	</div>
</div>
<div class="row">
	<div id="logoPartenaires" class="text-center">
		<a href="http://www.fribourgregion.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-region-fribourg.png') }}" alt=""/></a>
		<a href="http://www.tpf.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-tpf.png') }}" alt=""/></a>
		<a href="http://www.estavayer-le-lac.ch/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-estravayer.jpg') }}" alt=""/></a>
		<a href="http://www.murtentourismus.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-murtensee.png') }}" alt=""/></a>
		<a href="http://www.avenches.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-avenches.png') }}" alt=""/></a>
		<a href="http://www.romontregion.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-romont.jpg') }}" alt=""/></a>
		<a href="http://www.les-paccots.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-chatel.jpg') }}" alt=""/></a>
		<a href="http://www.schwarzsee.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-schwarzsee.png') }}" alt=""/></a>
		<a href="http://www.fribourgtourisme.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-fribourg-tourisme.jpg') }}" alt=""/></a>
		<a href="http://www.la-gruyere.ch/en/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-lagruyere.jpg') }}" alt=""/></a>
		<a href="http://www.radiofr.ch/fribourg.html" target="_blank"><img src="{{ asset('bundles/content/partners/logo-radio.jpg') }}" alt=""/></a>
		<a href="http://www.tcs.ch/fr/le-club/pres-de-chez-moi/fribourg/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-tcs.png') }}" alt=""/></a>
	</div>
</div>