
<div class="row">
	<div class="col-md-offset-2 col-md-8 text-center merci-partenaires">
		<p>Ein grosses Dankeschön an unsere Partner!</p>
	</div>
</div>
<div class="row">
	<div id="logoPartenaires" class="text-center">
		<a href="http://www.fribourgregion.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-region-fribourg.png') }}" alt=""/></a>
		<a href="http://www.tpf.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-tpf.png') }}" alt=""/></a>
		<a href="" target="_blank"><img src="{{ asset('bundles/content/partners/logo-npr.png') }}" alt=""/></a>
		<a href="http://www.estavayer-le-lac.ch/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-estravayer.jpg') }}" alt=""/></a>
		<a href="http://www.murtentourismus.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-murtensee.png') }}" alt=""/></a>
		<a href="http://www.avenches.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-avenches.png') }}" alt=""/></a>
		<a href="http://www.romontregion.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-romont.jpg') }}" alt=""/></a>
		<a href="http://www.les-paccots.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-chatel.jpg') }}" alt=""/></a>
		<a href="http://www.schwarzsee.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-schwarzsee.png') }}" alt=""/></a>
		<a href="http://www.fribourgtourisme.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-fribourg-tourisme.jpg') }}" alt=""/></a>
		<a href="http://www.la-gruyere.ch/de/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-lagruyere.jpg') }}" alt=""/></a>
		<a href="http://www.radiofr.ch/fribourg.html" target="_blank"><img src="{{ asset('bundles/content/partners/logo-radio.jpg') }}" alt=""/></a>
		<a href="http://www.tcs.ch/de/der-club/meine-region/freiburg/" target="_blank"><img src="{{ asset('bundles/content/partners/logo-tcs.png') }}" alt=""/></a>
	</div>
</div>