<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('imgs/randonnees/vignettes/dolce_vita_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			FRIBOURG > DOLCE VITA UND RÖMISCHE RUINEN
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>FRIBOURG > DOLCE VITA UND RÖMISCHE RUINEN</h2>
					<br>
					<span class="activite-sous-titre">Beispiel für eine Familie (2 Erwachsene und 2 Kinder von 6 - 16 Jahren) mit Abfahrtsort Fribourg</span>
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						11.08 Uhr	Bus in Richtung Avenches (Ankunft um 11.33 Uhr)
					</p>
					<p>
					Aventicum… entdecken Sie die römischen Hauptstadt der Helvetier und das Römermuseum, welches sich ganz der Geschichte dieser Stadt widmet. Auf einer Terrasse können Sie ein Mittagessen in der Sonne geniessen. Satt und zufrieden gehts zu Fuss weiter nach Murten (ca. 2.40 Stunden). Dort begeben Sie sich an Bord eines Schiffes und erholen Sich beim sanften Schaukeln der Wellen. Mit einem gemütlichen Spaziergang durch die Gässchen und Arkaden schliessen Sie diesen abwechslungsreichen Tag ab.
					</p>
					<p>
						<span class="colorED891E">{{ 'point-arrivée'|trans }}</span><br>
						21.01 Uhr	Zug in Richtung Fribourg (Ankunft um 21.30 Uhr)
					</p>
					<br>
					<p><strong>Preis für eine Familie (2 Erwachsene und 2 Kinder von 6 - 16 Jahren) mit Abfahrtsort Fribourg</strong></p>
					<span class="colorED891E">{{ 'point-interet'|trans }}</span>
					<ul class="ptn-interet">
						<li>Ohne FriPass: CHF 154.40</li>
						<li>Mit FriPass: CHF 90.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="https://www.google.fr" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link colorED891E" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/dolce_vita.jpg') }}" alt="Itinéraire dolce vita"/></p>
					<p class="pull-right"><img src="{{ asset('imgs/randonnees/dolce_vita_ruines_romaines.jpg') }}" alt="Itinéraire ruines romaines"/></p>
				</div>
			</div>
		</div>
	</div>
</div>