<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/magie_gruerienne_chocolat_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			ROMONT > GREYERZER ZAUBER UND LUST AUF SCHOKOLADE
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>ROMONT > GREYERZER ZAUBER UND LUST AUF SCHOKOLADE</h2>
					<br>
					<span class="activite-sous-titre">Beispiel für einen Erwachsenen mit Abfahrtsort Romont</span>
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						09.49 Uhr	Zug in Richtung Bulle (Ankunft um 10.08 Uhr)
						10.12 Uhr	Zug in Richtung Broc-Fabrique (Ankunft um 10.24 Uhr)
					</p>
					<br>
					Nur wenige Schritte vom Bahnhof entfernt liegt das berühmte Maison Cailler, wo sich die Geheimnisse unserer wunderbaren Schokolade lüften. Nach dem spannenden Rundgang füllen Sie Ihren Rucksack mit süssen Köstlichkeiten und machen Sich auf die Wandersocken (Dauer der Wanderung: 2 - 2.30 Stunden). Sie können aber auch direkt mit dem Zug in Richtung mittelalterliches Städtchen Gruyères fahren.
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						12.36 Uhr, Zug in Richtung Gruyères-Pringy (Ankunft um 12.59 Uhr)
					</p>
					<p>
					Am Zielort angekommen, entdecken Sie das Schloss Greyerz, welches majestätisch das mittelalterliche Städtchen überragt. Nach dem Besuch sollten Sie unbedingt eine Portion Meringues kosten – am besten mit der double crème de la Gruyère.
					</p>
					<p>
						<span class="colorED891E">{{ 'point-arrivée'|trans }}</span><br>
						16.58 Uhr	Zug in Richtung Bulle (Ankunft um 17.08 Uhr)
						17.20 Uhr	Zug in Richtung Romont (Ankunft um 17.37 Uhr)
					</p>
					<br>
					<p><strong>Preis für einen Erwachsenen mit Abfahrtsort Romont</strong></p>
					<span class="colorED891E">{{ 'point-interet'|trans }}</span>
					<ul class="ptn-interet">
						<li>Ohne FriPass: CHF 55.60</li>
						<li>Mit FriPass: CHF 40.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="https://www.google.fr" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link colorED891E" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/magie_gruerienne_chocolat.jpg') }}" alt=""/></p>
				</div>
			</div>
		</div>
	</div>
</div>