<div class="activite">
	<div class="activite-img">
		<img src="{{ asset('bundles/content/treks/thumbnail/prehistoire_rives_sauvages_vignette.jpg') }}"/>
	</div>
	<a href="">
		<div class="activite-nom">
			MURTEN > ZWISCHEN URGESCHICHTE UND WILDEN SEEUFERN
		</div>
	</a>
	<div class="activiteContent">
		<div class="activite-content">
			<div class="row">
				<div class="col-md-6">
					<h2>MURTEN > ZWISCHEN URGESCHICHTE UND WILDEN SEEUFERN</h2>
					<br>
					<span class="activite-sous-titre">Beispiel für eine Familie (2 Erwachsene und 2 Kinder von 6 - 16 Jahren) mit Abfahrtsort Murten</span>
					<br>
					<p>
						<span class="colorED891E">{{ 'points-depart'|trans }}</span><br>
						09.03 Uhr	Zug in Richtung Domdidier (Ankunft um 09.13 Uhr)
						09.16 Uhr	Bus in Richtung Gletterens Lac (Ankunft um 09.36 Uhr)
					</p>
					<p>
					Willkommen im Pfahlbaudorf Gletterens! Hier lernen Sie in einer authentischen Umgebung viel Wissenswertes  über vorgeschichtliche Handwerkstechniken.  Nach dem Rundgang geht’s auf zu einer Wanderung von ca. 2.30 Stunden durch Dörfer und Wälder und dem Seeufer entlang bis nach Estavayer-le-Lac. In der Rosenstadt angekommen, empfehlen wir eine Fahrt mit dem Mini-Zug. Dieser führt Sie während einer Stunde durch die ruhigen und pittoresken Gässchen dieses charmanten mittelalterlichen Städtchens.
					</p>
					<p>
						<span class="colorED891E">{{ 'point-arrivée'|trans }}</span><br>
						17.21 Uhr	Zug in Richtung Payerne (Ankunft um 17.30 Uhr)
						17.34 Uhr	Zug in Richtung Morat (Ankunft um 17.56 Uhr)
					</p>
					<br>
					<p><strong>Preis für eine Familie (2 Erwachsene und 2 Kinder von 6 - 16 Jahren) mit Abfahrtsort Murten</strong></p>
					<span class="colorED891E">{{ 'point-interet'|trans }}</span>
					<ul class="ptn-interet">
						<li>Ohne FriPass: CHF 114.40</li>
						<li>Mit FriPass: CHF 90.00</li>
					</ul>
					<br>
					<p><a class="rando-iti-link colorED891E" href="https://www.google.fr" target="_blank">> Carte et profil de la randonnée</a></p>
					<p><a class="rando-iti-link colorED891E" href="https://www.tpf.ch" target="_blank">> Horaire des transports publics</a></p>
				</div>
				<div class="col-md-6">
					<p class="pull-right"><img src="{{ asset('bundles/content/treks/prehistoire_rives_sauvages.jpg') }}" alt="Itinéraire Préhistoire et rives sauvages"/></p>
				</div>
			</div>
		</div>
	</div>
</div>